@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        background-color: #272727;
    }

    li {
        padding: 1.8rem;
        color: #c2c2c2;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }

    li:hover {
        color: #ffffff;
    }

    h1,
    h2,
    h3,
    p {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    p {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
    }

}