@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        background-color: #272727;
    }

    li {        
        color: #c2c2c2;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }

    .dark li {
        color: #171717;
    }

    .dark li:hover{
        color: black;
        font-weight: bold;
    }

    li:hover {
        color: #ffffff;
        font-weight: bold;
    }

    h1,
    h2,
    h3,
    p {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    p {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }
}